/*.lang{
	margin-bottom: 10px;
}*/

.margin-40{		margin-bottom: 40px;	}

body.admin-login{
	background: #eee;
	
	.container{
		height: 100vh;
		width: 400px;
		
		display: flex;
		justify-content: center;
		align-items: center;
		display: -webkit-flex;
		-webkit-justify-content: center;
		-webkit-align-items: center;
		
		form{
			@w: 120px;
				
			padding: (@w - 20px) 20px 20px 20px;
			background: white;
			width: 100%;
			border-radius: 4px;
			position: relative;
			text-align: center;
			
			input{
				text-align: center;
			}
			
			img{
				position: absolute;
				width: @w;
				height: @w;
				top: -(@w / 2);
				left: 50%;
				margin-left: -(@w / 2);
			}
		}
	}
}

.indexapp{
	a{
		display: block;
		
		&:hover{
			text-decoration: none;
		}
	}
}

.navbar{
	border-radius: 0;
}

#gyu_dev_center{
	display: none;
}

aside{
	i.fa{
		margin-right: 10px;
	}
}

.container{
	margin-bottom: 40px;
}

hr.smart{
//	width: 40%;
	margin: 40px auto;
}

.jumbotron{
	table.table{
		background: white;
	}
}

 #editor{
	overflow:scroll; 
	max-height:300px;
}

form{
	select{
		option:disabled{
			color: #ccc;
			font-style: italic;
		}
	}
	
	.select2-container{
		.select2-choice{
			@h: 39px;
			
			//display: block;
			width: 100%;
			height: @h;
			padding: 10px 15px;
			font-size: 15px;
			line-height: 1.42857143;
			color: #2c3e50;
			background-color: #ffffff;
			background-image: none;
			border: none;
			border-radius: 4px;
			box-shadow: none;
			background: none;
			
			.select2-arrow{
				background: none;
				border: 0;
			
				b{
					background: none;
					
					&:after{
						content: '\f0dc';
						font-family: 'FontAwesome';
						line-height: @h;
					}
				}
			}
		}
	}
}

#select2-drop{
	padding-top: 10px;
	
	.select2-search{ 
		input{
			border-width: 1px;
			background: none;
		}
	}
}

.modal-backdrop{
	z-index: 2;
}

.attendere{
	background:rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	color: white;
	font-size: 60px;
	z-index: 99999;
	
	.fa{
		position: fixed;
		top: 50%;
		left: 50%;
		margin: -150px;
	}
}

.category-wrapper{
	height: 260px;
	overflow: scroll;
}

table.table{
	th:first-child{
		width: 50px;
	}
	
	tfoot{
		border-top: 3px solid #ddd;
		font-weight: bold;
	}
}

.select2-choice{
	background: none;
}

#sortable{
	li{
		background: #eee;
		cursor: pointer; 
		margin: 4px 0;
		padding: 4px;
	}
}

.panel-specifics .btn,
.panel-variables .btn{
	padding: 6px 12px;
}

.tablesorter-default{
	.header, .tablesorter-header{
		.tablesorter-header-inner{
			float: left;
		}
		
		&:after{
			font-family: 'FontAwesome';
			float: right;
			content: '\f0dc';
		}
	}
	
	thead{
		.headerSortUp,
		.tablesorter-headerSortUp,
		.tablesorter-headerAsc{
			background: #eee;
			
			&:after{
				font-family: 'FontAwesome';
				float: right;
				content: '\f0de';
			}
		}
		
		.headerSortDown,
		.tablesorter-headerSortDown,
		.tablesorter-headerDesc{
			background: #eee;	
			
			&:after{
				font-family: 'FontAwesome';
				float: right;
				content: '\f0dd';
			}
		}
	}
}

.dashboard{
	.col{
		margin-bottom: 20px;
		
		.fa{
			margin-bottom: 10px;
		}
	}
}

/* pace loader */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(0, 0, 0, 0.19999999999999996);
}