// out: ../css/lalunanuova.css, compress: false
@import "common.scss";
@import "colors.scss";
@import "fonts.scss";

@mixin aspect-ratio($width, $height) {
    content: "";
    width: 100%;
    padding-bottom: $height / $width * 100%;
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

hr {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0;
}

@mixin centerer-title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.centered-text {
    @include centerer;
}

.moz-in {
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.moz-out {
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.animate {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

    /** Chrome & Safari **/
    -moz-transition: all 0.3s ease-in-out;

    /** Firefox **/
    -o-transition: all 0.3s ease-in-out;

    /** Opera **/
}


.gallery-dettaglio {
    .orbit-container .orbit-slides-container img {
        border: 3px solid $color-2;
    }

    .orbit-container .orbit-prev, .orbit-container .orbit-next {
        color: $color-4 !important;
        top: 42%;
        width: 29px;
        background-color: $color-2 !important;
    }

    .orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
        background-color: $color-2 !important;
    }

    .orbit-container .orbit-next > span {
        border-left-color: $color-4;
    }

    .orbit-container .orbit-prev > span {
        border-right-color: $color-4;
    }

    .orbit-container .orbit-next:hover > span {
        border-left-color: #007095;
    }

    .orbit-container .orbit-prev:hover > span {
        border-right-color: #007095;
    }
}

.width100 {
    width: 100%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heightHowInput {
    height: 2.3125rem;
    line-height: 0.83em;
    padding: 0;
}

.fix-annuncio {
    width: 97.5%;
}

.category-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        padding-right: 16px;
    }
}

.columns.left {
    input, select {
        background-color: #EDEFED;
        box-shadow: none;
        margin-bottom: 0.7em;
    }
}

.map-dettaglio {
    height: 200px !important;
}

#authorize-action {
    position: absolute;
    top: 5px;
}

.authorize-action-label {
    margin-left: 20px !important;
    margin-top: -5px !important;
}

.button.submit {
    padding-left: 2em;
    padding-right: 2em;
}

.border-bottom-gray {
    border-bottom: 1px solid #CCCCCC;
}

.border-top-gray {
    border-top: 1px solid #CCCCCC;
}

#vat-map-2 {
    height: 500px;
}

.oderbyselect {
    float: right;
    padding: 0;
    margin: 0;
    width: 190px;
    height: 1.5em;
    background: transparent !important;
    background-color: transparent !important;
    border: 0 none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin-left: 1em;
}

.oderbyselect > option {
    color: black;
}

.oderbyselect > option:hover {
    background-color: $color-4;
}

.photo-scroller {
    .orbit-bullets-container {
        float: left;
        margin-left: 30px;
        margin-top: -40px;
    }
}

.button-action-landing {
    .button-gray {
        background-color: #CCCCCC;
    }

    .button-gray:hover {
        background-color: #007095;
    }

    .button-gray-2 {
        background-color: #CCCCCC;
        color: $color-4;
    }

    .button-gray-2:hover {
        background-color: #007095;
        color: $color-0;
    }
}

.aggiungi-preferiti-scroller {
    position: absolute;
    z-index: 999999;
    bottom: 8px;
    right: 30px;
}

.car-schedule {
    .primary-informations {

        /*border: 1px solid $color-12;*/
        div {
            border: 1px solid $color-12;
            border-bottom: 3px solid #1671DA;
        }

        font-size: 1em;

        @extend .font-bold;

        @extend .color-8;

        margin-left: 0;
        margin-right: 0;
    }

    .button-gray {
        background-color: #CCCCCC;
    }

    .button-gray:hover {
        background-color: #007095;
    }

    /* box */
    $font-size: 12;
    $line-height: 1.7;
    $lines-to-show: 3;

    .description {
        display: block;

        /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 400px;
        height: $font-size * $line-height * $lines-to-show;

        /* Fallback for non-webkit */
        margin: 0 auto;
        font-size: $font-size;
        line-height: $line-height;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 88px;
    }
}

.button-action-landing.detail-page {
    .aggiungi-preferiti-scroller {
        bottom: 0px;
        padding:0px;
        height:40px;
        line-height:19px;
        padding-left:1em !important;
        padding-right:1em !important;
    }
}

.social-icon {
    width: 35px;
    text-align: center;
    display: block;
    color: $color-1;
    padding-left: 0.6em !important;
    padding-right: 0.6em !important;
    padding-top: 0.65em !important;
    padding-bottom: 0.65em !important;
    font-size: 0.9em;
    margin: 0px auto;

    .fa {
        color: #fff;
    }
}

.social-icon:hover {
    .fa {
        color: #fff;
    }
}

.oderbyselect.quantity{
    width:25px;
    float:none ;
    text-align:right;
    margin-left:5px;
}


/* body */
body {
    font-family: 'proxima_nova_rgregular';
    overflow-x: hidden;
}

.font-bold {
    font-family: 'proxima_nova_rgbold';
}

.no-bold{
    font-family: 'proxima_nova_rgregular' !important;
}

.hide {
    display: none;
}

/* HEADER */
.header{ overflow:hidden;}

.fullWidthImg {
   width: 100% !important;
    height: auto !important;
    max-width: none;
}

.header-opaque {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.breadcrumbs-row{
    background-color:$color-12;
    .breadcrumbs{
        background-color:transparent;
        border:0px none;
        padding:0;
        margin:0;
       a{font-size:1.4em !important; color:$color-6; line-height:1.4em;}
    } 

    li.current a{
          color: $color-8 !important;
    }
}


button, a.button, button.button {
    background-color: #1671DA;
}


.title-page {
    width: 100%;

    @include centerer;

    z-index: 50;
}

.header-image {
    z-index: 10;
}

.mainmenu {
    /*margin-top: 3em;*/
    z-index: 100;
    position:absolute;
    right:1em;
    top:1em;
}

.orbit-timer{
    display:none;
}

.orbit-bullets-container {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 36px;
}

.area-selector {
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute !important;
    width: 100%;

    .input, select, input, input:hover, select:hover {
        margin: 0;
        border-right: 0;
        background-color: #fff;
        box-shadow: none;
    }
}
.area-selector.position-fixed{
    position:fixed:
    top:0;
}

.socials {
    font-size: 2em;
}

.card {
    .description {
        position: absolute;
        background-color: $color-1;
        color: $color-0;
        bottom: -1px;
        width: 100%;
    }

    .description-2 {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        color: $color-0;
        bottom: 0;
        width: 100%;

        .text {
            width: 100%;
        }

        .text2 {
            width: 100%;
        }
    }
}

.content-2, .content-3 {
    line-height: 1em;
}

/* HOME */
/* FOOTER */
.concessionari {
    margin-left: 0 !important;

    img {
        padding: 0 0.2em 0 0.2em;
    }

    li {
        list-style: none;
        line-height: 1em;
        float: left;
        text-align: center;

        .marca {
            font-size: 0.8em;
            text-align: center;
            font-family: 'proxima_nova_rgbold';
            color: #777B7B;
        }

        .concessionaria {
            font-size: 0.7em;
            color: #666666;
        }

        .area-logo {
            height: 80px;
        }
    }
}

.footer {
    .social-area {
        a.button-gray {
            margin-right: 3px;
            width: 35px;
            height: 35px;
            display: block;
            float: left;
            background-color: #999999;
        }

        a.button-gray:hover {
            background-color: #fff;
        }

        .fa {
            color: #333333;
        }
    }

    a {
        color: $color-0;
    }

    a:hover {
        color: $color-2;
        text-decoration: underline;
    }

    .contacts, .links {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding-bottom: 0.8em;
        }
    }

    .autorize-action-mail {
        position: absolute;
    }

    .autorize-action-mail-label {
        color: $color-0;
        margin: -0.3em 0 0 0;
        padding-left: 1.5em;
    }

    .contact-form {
        input, select, textarea {
            border: 1px solid $color-6;
            background-color: $color-4;
            color: $color-0;
        }

        input:focus, select:focus, textarea:focus {
            background-color: $color-0;
            color: $color-4;
        }
    }

    .submit-gray {
        background-color: $color-11;
        padding-left: 3em;
        padding-right: 3em;
    }

    .submit-gray:hover {
        background-color: $color-2;
        color: $color-4;
    }
}

.vieniatrovarci {
    .button {
        background-color: #419EFD;
    }
}

#listapreferiti-btn {
    img {
        padding: 1em;
    }
}

#vieniatrovarci-btn {
    img {
        padding: 1em;
    }
}

.useraction {
    position: fixed;
    width: 740px;
    height: 550px;
    right: 0px;
    top: 0;

    /*margin-top: -300px;*/
    z-index: 101;

    .map {
        margin-top: 1em;
        margin-bottom: 1em;
        height: 300px;
    }

    .label-text {
        background-color: $color-8;
        height: 193px;
        width: 50px;
        float: right;
        cursor: pointer;
    }

    .area {
        position: absolute;
        width: 700px;
        right: 50px;
        height: 550px;
        padding: 1em;
        background-color: $color-8;
    }
}

.listapreferiti.useraction {
    .area.closed {
        right: -700px;
    }
    height: 180px;
    width: 50px;
}

.vieniatrovarci {
    color: $color-0;
}

.listapreferiti {
    color: #666666;
}

.vieniatrovarci.useraction {
    .area.closed {
        right: -700px;
    }
    height: 193px;
    width: 50px;
}

.concessionari {
    color: $color-0;
}

.concessionari.useraction {
    height: 193px;
    width: 50px;
    .area.closed {
        right: -700px;
    }
    .area {
        bottom:0px;
    }

}

#concessionariarea{
    height:430px;
    .title{
        padding-bottom:1em;
        display:block;
    }

   .marca {
        margin-top:5px;
        font-size: 0.6em;
        text-align: center;
        font-family: 'proxima_nova_rgbold';
        color: #fff;
    } 

    .area-logo {
        height: 80px;
        background-color:#fff;
    }
    .concessionaria{
        color:#fff;
        font-size: 0.5em;
    }

}

#concessionari-btn {
    img {
        padding: 1em;
    }
}


#listapreferitiarea {

    .lista-preferiti {
        overflow-y: scroll;
        height: 230px;
    }

    a {
        color: $color-4;
    }

    a:hover {
        text-decoration: underline;
    }

    .title {
        .fa {
            font-size: 0.8em;
            color: #ED1A20;
        }
    }

    img.preview {
        width: 58px !important;
        height: 44px !important;
        border: 1px solid #fff;
        max-width: none !important;
    }

}

.listapreferiti.useraction {
    /* margin-top: -95px;*/
    .label-text {
        background-color: #CCCCCC;
        height: 180px;
        width: 50px;
        float: right;
        cursor: pointer;
    }

    .area {
        position: absolute;
        width: 490px;
        right: 50px;
        height: 320px;
        padding: 1em;
        background-color: #CCCCCC;
    }
}

/* HOME ------------------------------------------------------------------ */
.box-background {
    background-color: #000;
}

.categoryimg {
    @extend .moz-in;
}

.category-link:hover {
    .categoryimg {
        opacity: 0.5;

        @extend .moz-out;
    }
}

// SMALL SCREEN
@media only screen {}

@media only screen and (max-width: 1123px) {
    .useraction {
        right: -50px;
    }
}

.detail-page {
    .social-area {
        position: absolute;
        left: 1.6em;
        bottom: 1.3em;
        width: 50%;
        height: 40px;
        a{
            float:left;
            margin-right:3px;
             height: 40px;
             width:40px;
        }
    }
}

.tfooter {
    background-image: url(../images/row.png);
    background-repeat: repeat-x;
    background-position: center center;
    span {
        background-color: #fff;
    }
}

@media only screen and (max-width: 40em) {
    .concessionari li {
        width: 50%;
    }

    .mainmenu {
        margin-top: 0;
    }

    .titolo-sezione {
        font-size: 1.5em !important;
        padding-bottom: 1em !important;
    }

    /*.title-page {
        display: none !important;
    }*/

    .padding-for-small {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .servizi-aggiuntivi {
        .titolo {
            font-size: 1.4em;
        }

        .descrizione {
            font-size: 1em;
        }
    }

    .titolo-sezione {
        font-size: 1.2em;
    }

    .titolo-categoria:hover::before {
        opacity: 0.5;
    }

    .titolo-categoria {
        font-size: 1.3em;
        line-height: 1em;
    }

    .description {
        min-height: auto !important;
    }
}

// MEDIUM SCREEN
@media only screen and (max-width: 40em) {
    .logo {
        max-width: 400px;
        margin-top: 1em;
    }

    .description-2 {
        height: 6em;
    }

}

/* PAGINA ELENCO AUTO PER CATEGORIA */
.categoria-page {}

@media only screen and (min-width: 40.0625em) {
    .top-bar-section .has-dropdown > a:after {
        border: inset 5px;
        content: "";
        display: block;
        height: 0;
        width: 0;
        border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 1.40625rem;
    }
}

@media only screen and (min-width: 40.063em) {
    /*  .has-dropdown.not-click{
    background-color:transparent;
    }
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: transparent;
    color: $color-3;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
    }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: transparent;
    color: #FFFFFF;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
    }*/
    .top-bar-section .has-dropdown.not-click:hover > .dropdown {
        left: 1px !important;
    }

    .header-opaque {
        top: -4px;
    }

    .concessionari li {
        width: 25%;
    }

    .top-bar-section {
        margin-right: 50px;
    }

    .top-bar-section .right li .dropdown {
        background-color: #fff;
        padding: 1em !important;
        z-index: 20;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        background: $color-0;
        color: $color-7;
        line-height: 2em;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background-color: $color-0;
        color: $color-8;
        background: $color-0;
        line-height: 2em;
    }

    .top-bar-section li.active:not(.has-form) a:not(.button) {
        /*background-color: transparent !important;*/
        /*color: $color-8;*/
        background-color: rgba(22, 113, 218, 0.8);
    }

    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        /*background-color: transparent !important;*/
        /*color: $color-8;*/
        background-color: rgba(22, 113, 218, 0.8);
    }

    .mainmenu.top-bar, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section ul li {
        background: transparent;
    }

    .shadow {
        text-shadow: 2px 2px 5px #000;
    }

    .top-bar-section li:not(.has-form) a:not(.button):hover {
        background: transparent;

        /* - color: $color-8; - */
        background-color: rgba(22, 113, 218, 0.8);
    }

    .title-page {
        .text1 {
            font-size: 1.5em;
        }

        .text2 {
            font-size: 1em;
        }
    }

    .servizi-aggiuntivi {
        .titolo {
            font-size: 1.4em;
        }

        .descrizione {
            font-size: 1em;
        }
    }

    .titolo-sezione {
        font-size: 1.8em;
    }

    .description-2 {
        height: 8em;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .header {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 64em) {
    .centered-text.ulteriori-specifiche {
        position: relative !important;
        top: 1em;
    }
}

// LARGE SCREEN
@media only screen and (min-width: 64.063em) {
    .top-bar-section ul li:hover:not(.has-form) > a {
        background-color: transparent;
        color: #FFFFFF;
        background: transparent;
    }

    .header.little-header{
        height:250px;
        overflow:hidden;
        margin-top:0;

    }

    .header-opaque {
        top: -48px;
    }

    .concessionari {
        li {
            width: 12.5% !important;
        }
    }

    .title-page {
        .text1 {
            font-size: 2em;
        }

        .text2 {
            font-size: 1em;
        }
    }

    .servizi-aggiuntivi {
        .titolo {
            font-size: 1.7em;
        }

        .descrizione {
            font-size: 1.2em;
            line-height: 1em;
        }
    }

    .titolo-sezione {
        font-size: 2.2em;
    }

    .titolo-categoria {
        font-size: 2em;
        line-height: 1em;
    }

    .description-2 {
        height: 10em;
    }
}

/* gestione header */

.orbitheader{
    li{
        background-size:cover;
    }
}

.youtubechannel{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width:100%;
}

@media only screen and (max-width: 40.063em) {
    .orbitheader{
        margin-top:45px !important;
    }
    .area-selector {
        position:relative !important;
        bottom:0;    
    }

    .title-page{
        font-size:1.2em;
        top:58%;
    }
    .mainmenu{
        right:0;
        left:0;
        top:0;
    } 

    .orbitheader{
        height:250px !important;
        li{
            height:250px !important;
        }
    }

    .youtubechannel{
       height:250px;
    }


   
    .header{
        padding-top: 0px;
    }
}


@media only screen and (min-width: 40.063em) {
    .header{
        height:300px;
    }

    .orbitheader{
        height:300px !important;
        li{
            height:300px !important;
        }
    }

    .youtubechannel{
        height:300px;
    }

    .header-image{
        /*border:1px solid green;*/
        height:300px !important;
    }

}


@media only screen and (max-width: 64.063em) {
    .useraction .area {

    }
}

@media only screen and (min-width: 64.063em) {
    .header{
        height:500px;
    }

    .orbitheader{
        height:500px !important;
        li{
            height:500px !important;
        }
    }

    .youtubechannel{
        height:500px;
    }

    .header-image{
        /*border:1px solid purple;*/
        height:500px !important;
    }

}





