$color-0:#ffffff; 
$color-1:#000000; 
$color-2:#EDEFED;	/* grigio chiaro come quello dello sfondo */ 
$color-3:#001F55;	/* blue del logo*/
$color-4:#333333; 	/* grigio scuro */
$color-5:#5A5A5A; 	/* grigio chiaro */
$color-5:#00FFFF; 	/* cyano */
$color-6:#777B7B; 	/* grigio scuro testo */
$color-7:#666666; 	/* grigio chiaro testo*/
$color-8:#1671DA; 	/* blu acceso */
$color-9:#00FFFF;	/* cyano acceso*/
$color-10:#B7DDFD;	/* cyano */
$color-11:#4D4D4D;	/* GRIGIO FOOTER */
$color-12:#CCCCCC;	/* GRIGIO TABELLE*/
$color-13:#ED1A20;	/* ROSSO */
$color-14:#39B54A;	/* VERDE */
$color-15:#F15A24;	/* ARANCIONE */

.color-0{color:$color-0 !important;}
.color-1{color:$color-1 !important;}
.color-2{color:$color-2 !important;}
.color-3{color:$color-3 !important;}
.color-4{color:$color-4 !important;}
.color-5{color:$color-5 !important;}
.color-6{color:$color-6 !important;}
.color-7{color:$color-7 !important;}
.color-8{color:$color-8 !important;}
.color-9{color:$color-9 !important;}
.color-10{color:$color-10 !important;}
.color-11{color:$color-11 !important;}
.color-12{color:$color-12 !important;}
.color-13{color:$color-13 !important;}
.color-14{color:$color-14 !important;}
.color-15{color:$color-15 !important;}

.bkg-color-0{background-color:$color-0 !important;}
.bkg-color-1{background-color:$color-1 !important;}
.bkg-color-2{background-color:$color-2 !important;}
.bkg-color-3{background-color:$color-3 !important;}
.bkg-color-4{background-color:$color-4 !important;}
.bkg-color-6{background-color:$color-6 !important;}

.bkg-color-8{background-color:$color-8 !important;}

.bkg-color-11{background-color:$color-11 !important;}