/* positions */
.floatleft{float:left !important; }
.floatright{float:right;}
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {float: left !important;}
.bkg-opaque{background-color: rgba(0, 0, 0, 0.4);}
.absolute{position:absolute;}
.fullWidth {width: 100%; margin-left: auto; margin-right: auto; max-width: initial;}
.relative{position: relative;}
.absolute{position: absolute;}
.button{padding-top:0.8em !important; padding-bottom:0.8em !important; padding-left:0.4em !important; padding-right:0.4em !important;}

/* styles txt*/
.italic{ font-style: italic;}
.underline{text-decoration: underline;}


/* margins */
.margin-top-0{margin-top:0;}
.margin-top-05{margin-top:0.5em;}
.margin-top-10{margin-top:1em;}
.margin-top-15{margin-top:1.5em;}
.margin-top-20{margin-top:2em;}
.margin-top-25{margin-top:2.5em;}
.margin-top-30{margin-top:3em;}
.margin-top-35{margin-top:3.5em;}
.margin-top-40{margin-top:4em;}
.margin-top-45{margin-top:4.5em;}
.margin-bottom-0{margin-bottom:0;}
.margin-bottom-05{margin-bottom:0.5em;}
.margin-bottom-10{margin-bottom:1em;}
.margin-bottom-12{margin-bottom:1.2em;}
.margin-bottom-15{margin-bottom:1.5em;}
.margin-bottom-20{margin-bottom:2em;}
.margin-bottom-25{margin-bottom:2.5em;}
.margin-bottom-30{margin-bottom:3em;}
.margin-bottom-35{margin-bottom:3.5em;}
.margin-left-0{margin-left: 0px;}
.margin-right-10{margin-right: 1em;}
/* paddings */
.padding-0{padding:0px;}
.no-padding-left{padding-left: 0px;}
.no-padding-right{padding-right: 0px;}
.padding-10{padding:1em;}
.padding-top-0{padding-top:0;}
.padding-top-01{padding-top:0.1em;}
.padding-top-02{padding-top:0.2em;}
.padding-top-03{padding-top:0.3em;}
.padding-top-04{padding-top:0.4em;}
.padding-top-05{padding-top:0.5em;}
.padding-top-07{padding-top:0.7em;}
.padding-top-08{padding-top:0.8em;}
.padding-top-09{padding-top:0.9em;}
.padding-top-10{padding-top:1em !important;}
.padding-top-11{padding-top:1.1em;}
.padding-top-12{padding-top:1.2em;}
.padding-top-13{padding-top:1.3em;}
.padding-top-14{padding-top:1.4em;}

.padding-top-15{padding-top:1.5em;}
.padding-top-20{padding-top:2em;}
.padding-top-25{padding-top:2.5em;}
.padding-top-30{padding-top:3em;}
.padding-top-35{padding-top:3.5em;}
.padding-top-40{padding-top:4em;}
.padding-top-45{padding-top:4.5em;}

.padding-bottom-0{padding-bottom:0;}
.padding-bottom-01{padding-bottom:0.1em;}
.padding-bottom-02{padding-bottom:0.2em;}
.padding-bottom-03{padding-bottom:0.3em;}
.padding-bottom-04{padding-bottom:0.4em;}
.padding-bottom-05{padding-bottom:0.5em;}
.padding-bottom-06{padding-bottom:0.6em;}
.padding-bottom-07{padding-bottom:0.7em;}
.padding-bottom-08{padding-bottom:0.8em;}
.padding-bottom-09{padding-bottom:0.9em;}
.padding-bottom-10{padding-bottom:1em !important;}

.padding-bottom-15{padding-bottom:1.5em;}
.padding-bottom-20{padding-bottom:2em;}
.padding-bottom-25{padding-bottom:2.5em;}
.padding-bottom-30{padding-bottom:3em;}
.padding-bottom-35{padding-bottom:3.5em;}
.padding-bottom-40{padding-bottom:4em;}
.padding-bottom-45{padding-bottom:4.5em;}
.padding-left-0{padding-left:0;}
.padding-left-01{padding-left:0.1em !important; }
.padding-left-02{padding-left:0.2em !important; }
.padding-left-03{padding-left:0.3em !important; }
.padding-left-04{padding-left:0.4em !important; }
.padding-left-05{padding-left:0.5em !important; }
.padding-left-10{padding-left:1em  !important; }
.padding-left-15{padding-left:1.5em  !important; }
.padding-left-20{padding-left:2em !important; }
.padding-left-25{padding-left:2.5em !important; }
.padding-left-30{padding-left:3em  !important; }
.padding-left-35{padding-left:3.5em  !important; }
.padding-right-0{padding-right:0  !important; }
.padding-right-01{padding-right:0.1em  !important; }
.padding-right-02{padding-right:0.2em !important; }
.padding-right-03{padding-right:0.3em !important; }
.padding-right-04{padding-right:0.4em !important; }
.padding-right-05{padding-right:0.5em !important; }
.padding-right-10{padding-right:1em !important; }
.padding-right-15{padding-right:1.5em !important; }
.padding-right-20{padding-right:2em !important; }
.padding-right-25{padding-right:2.5em !important; }
.padding-right-30{padding-right:3em !important; }
.padding-right-35{padding-right:3.5em !important; }

/* line-heights */

.line-height-10{line-height: 1em;}
.line-height-11{line-height: 1.1em;}
.line-height-12{line-height: 1.2em;}
.line-height-19{line-height: 1.9em;}
.line-height-20{line-height: 2em;}

